##
## Velocity Template for error end-state
##
## Velocity context will contain the following properties
## flowRequestContext - the Spring Web Flow RequestContext
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
##
#set ($title = $springMacroRequestContext.getMessage("idp.title", "Web Login Service"))
#set ($defaultTitleSuffix = $springMacroRequestContext.getMessage("idp.title.suffix", "Error"))
##
#if ($flowRequestContext)
    ## This handles flow events, the most common case.
    #set ($eventId = $flowRequestContext.getCurrentEvent().getId())
    #set ($eventKey = $springMacroRequestContext.getMessage("$eventId", "error"))
    #set ($titleSuffix = $springMacroRequestContext.getMessage("${eventKey}.title", "$defaultTitleSuffix"))
    #set ($message = $springMacroRequestContext.getMessage("${eventKey}.message", "$defaultTitleSuffix: $eventId"))
    #if ($eventId == "AccessDenied" or $eventId == "ContextCheckDenied")
        $response.setStatus(403)
    #elseif ($eventId == "UnableToDecode" || $eventId == "InvalidMessage")
        $response.setStatus(400)
    #else
        $response.setStatus(500)
    #end
#elseif ($exception)
    ## This handles exceptions that reach the Spring-MVC exception handler.
    #set ($eventId = $exception.getClass().getSimpleName())
    #set ($eventKey = $springMacroRequestContext.getMessage("$eventId", "error"))
    #set ($titleSuffix = $springMacroRequestContext.getMessage("${eventKey}.title", "$defaultTitleSuffix"))
    #set ($message = $springMacroRequestContext.getMessage("${eventKey}.message", "$defaultTitleSuffix: $eventId"))
#else
    ## This is a catch-all that theoretically shouldn't happen?
    #set ($titleSuffix = $defaultTitleSuffix)
    #set ($message = $springMacroRequestContext.getMessage("idp.message", "An unidentified error occurred."))
#end
##
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>$title - $titleSuffix</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="$request.getContextPath()/css/semantic.css">
    <link rel="stylesheet" href="$request.getContextPath()/css/stylesheet.css">
</head>
      
<body>
<div id="app"><div class="ui page grid">

<!-- PAGE HEADER -->
#parse("page-banner.vm")

<!-- PAGE BODY -->
<section class="sixteen wide column"><div class="ui stackable grid"><div class="centered ten wide column">

    <div class="ui raised blue segment top attached">
        <h3 class="ui centered header">$title - $titleSuffix</h3>
        #evaluate($message)
    </div>

</div></div></section>

<!-- PAGE FOOTER -->
#parse("page-footer.vm")

</div></div>
</body></html>
