##
## Velocity Template for DisplayUsernamePasswordPage view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## authenticationWarningContext - context with login warning state
## ldapResponseContext - context with LDAP state (if using native LDAP)
## rpUIContext - the context with SP UI information from the metadata
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
##
#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
#set ($username = $authenticationContext.getSubcontext('net.shibboleth.idp.authn.context.UsernamePasswordContext', true).getUsername())
##
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>#springMessageText("idp.title", "Web Login Service")</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <link rel="stylesheet" href="$request.getContextPath()/css/semantic.css">
    <link rel="stylesheet" href="$request.getContextPath()/css/stylesheet.css">
</head>
<body>
<div id="app"><div class="ui page grid">

<!-- PAGE HEADER -->
#parse("page-banner.vm")

<!-- PAGE BODY -->
<section class="sixteen wide column"><div class="ui stackable grid"><div class="centered ten wide column">

    <!-- FORMS -->
    <form class="ui form raised blue segment top attached"
        action="$flowExecutionUrl" method="post">
    
        #set ($serviceName = $rpUIContext.serviceName)
        #if ($serviceName && !$rpContext.getRelyingPartyId().contains($serviceName))
        <legend class="ui centered header">
        #springMessageText("idp.login.loginTo", "Login to") $encoder.encodeForHTML($serviceName)
        </legend>
        #end

        <div class="field">
            <label for="username">#springMessageText("idp.login.username", "Username")</label>
            <input class="ui input" id="username" name="j_username" type="text"
                placeholder="Required"
                value="#if($username)$encoder.encodeForHTML($username)#end">
        </div>

        <div class="field">
            <label for="password">#springMessageText("idp.login.password", "Password")</label>
            <input class="ui input" id="password" name="j_password" type="password" value="" placeholder="Required">
        </div>

        <div class="field"><div class="ui checkbox">
            <input type="checkbox" id="donotcache" name="donotcache" value="1">
            <label for="donotcache">#springMessageText("idp.login.donotcache", "Don't Remember Login")</label>
        </div></div>

##        <div class="field"><div class="ui checkbox">
##            <input id="_shib_idp_revokeConsent" type="checkbox" name="_shib_idp_revokeConsent" value="true">
##            <label for="_shib_idp_revokeConsent">
##                #springMessageText("idp.attribute-release.revoke", "Clear prior granting of permission for release of your information to this service.")
##            </label>
##        </div></div>

        <button class="ui right floated blue button" type="submit" name="_eventId_proceed">#springMessageText("idp.login.login", "Login")</button>
    </form>

    <!-- ERROR MESSAGES -->
    #parse("login-error.vm")

</div></div></section>

<!-- PAGE FOOTER -->
#parse("page-footer.vm")

</div></div>
</body></html>
